{% extends 'home.html' %} {% block __home %} {% load static %}

<table class="table table-success table-striped">
  <thead class="table-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Question</th>
      <th scope="col">Visit</th>
    </tr>
  </thead>
  <tbody>
    {% for home in homeData %}
    <tr>
      <th scope="row">
        <input
          class="form-check-input me-1" type="checkbox" value="" aria-label="..."/>
      </th>
      <td>1</td>
      <td>{{home.questionName}}</td>
      <td><a href={{home.questionView}} target="__blank">{{home.questionView}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
